<!-- <div>
  <h1>ilk Angular Projem</h1>
  {{mustafa}}
</div>
<div *ngıf="isUpdate">
 true ise
</div>
<div *ngıf="!isUpdate">
 false ise
</div> -->

<!-- <div *ngFor="let post of posts">
{{post.title}}

</div> -->
<div class="container">
  <div class="row my-5">
    <div class="col-md-4" *ngFor="let post of posts">
      <app-card [titleChild]="post.title"  [imgUrlChild]="post.imageUrl" [userNameChild]="post.username" [contentChild]="post.content"></app-card>
    </div>
  </div>
</div>
<!-- Companente ulaşmak için companent için deki selectoru kullanırız-->

